// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@import "default/map.scss";
@import "default/_aceh.scss";
@import "default/_kepriau.scss";
@import "default/_riau.scss";
@import "default/_sumut.scss";
@import "default/_sumbar.scss";
@import "default/_sumsel.scss";
@import "default/_jambi.scss";
@import "default/_bengkulu.scss";
@import "default/_bangka.scss";
@import "default/_lampung.scss";

@import "default/_kalsel.scss";
@import "default/_kalut.scss";
@import "default/_kaltim.scss";
@import "default/_kalteng.scss";
@import "default/_kalbar.scss";

@import "default/_banten.scss";
@import "default/_dki.scss";
@import "default/_jabar.scss";
@import "default/_jateng.scss";
@import "default/_jatim.scss";
@import "default/_diy.scss";

@import "default/_sulbar.scss";
@import "default/_sulteng.scss";
@import "default/_sultenggara.scss";
@import "default/_sulsel.scss";
@import "default/_gorontalo.scss";
@import "default/_sulut.scss";

@import "default/_bali.scss";
@import "default/_malut.scss";
@import "default/_ntb.scss";
@import "default/_ntt.scss";
@import "default/_maluku.scss";

@import "default/_papbar.scss";
@import "default/_papua.scss";

// ------------------------------------------------

body{
	background-color: rgba(255,250,230,255);
}

.header{
	@include span(12 nest);
	text-align: center;
	border-bottom: 1px solid $warna4;
	.title{
		img{
			width: 30%;
			height: 50%;
			transition: 0.3s;
			&:hover{
				margin-left: 10px;
			}
		}
	}
}

.map{
	@include span(12 nest);  
}

.footer{
	@include span(12 nest);
	font-family: 'Sawasdee';
	p{
		letter-spacing: 10px;
		color: $warna4;
		text-align: center;
	}
}
