.frame-bali{
	@include span(12 nest);
	font-family: 'Sawasdee';
	height: 100vh;
	position: absolute;
	background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
	display:none;
	.cloud,#cloud1,#cloud2,#cloud1:before,#cloud1:after{
		position: absolute;
	}
	.cloud{
		left: 10px;
		transition: 10s;
		#cloud1{
			width: 100px;
			height: 100px;
			background-color: white;
			left: 100px;
			border-top-right-radius: 100px;
			border-top-left-radius: 100px;
		}

		#cloud1:before, #cloud1:after{
			content: '';
			width: 50px;
			height: 50px;
			background-color: white;
			bottom: 0;
			border-radius: 100px;
		}

		#cloud1:before{
			left: -80px;
			border-bottom-right-radius: 0px;
		}

		#cloud1:after{
			left: 80px;
			border-bottom-left-radius: 0px;
		}

		#cloud2{
			width: 80px;
			height: 80px;
			background-color: white;
			left: 50px;
			top: 20px;
			border-top-left-radius: 100px;
			border-top-right-radius: 100px;
		}
	}
	.close{
		position: absolute;
		right: 20px;
		top:10px;
		border-radius:10px;
	}
	.next{
		position:absolute;
		top:50%;
		font-size: 80px;
	}
	.prev{
		position:absolute;
		right: 0;
		top:50%;
		font-size: 80px;
	}
	h2{
		text-align: center;
	}
	&:hover{
		.cloud{
			left: 1500px;
		}
	}
}

