.frame-maluku{
	@include span(12 nest);
	height: 100vh;
	position: absolute;
	background-color: #FFF;
	display:none;
	.next{
		position:absolute;
		top:50%;
		font-size: 80px;
	}
	.prev{
		position:absolute;
		right: 0;
		top:50%;
		font-size: 80px;
	}
}
