.frame-sumsel{
	@include span(12 nest);
	height: 100vh;
	position: absolute;
	background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%);
	height: 50%;
	display:none;
	.next{
		position:absolute;
		top:50%;
		font-size: 80px;
	}
	.prev{
		position:absolute;
		right: 0;
		top:50%;
		font-size: 80px;
	}
}
