.prov{
	cursor: pointer;
}

#aceh, #sulbar, #bali, #maluku, #diy, #sulut{
	opacity:1;
	fill:$warna1;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.11400165;
	stroke-linejoin:round;
	stroke-opacity:1;
	transition: 0.3s;
	&:hover{
		fill: $warna1;
		stroke:$warna1;
		stroke-width:3;
	}
}


#riau, #jatim, #bangka, #kalteng, #bengkulu, #jabar, #papua, #sulteng, #kalut{
	opacity:1;
	fill:$warna2;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.11400165;
	stroke-linejoin:round;
	stroke-opacity:1;
	transition: 0.3s;
	&:hover{
		fill: $warna2;
		stroke: $warna2;
		stroke-width:3;
	}
}


#sulsel, #ntt, #kalsel, #gorontalo, #jambi, #papbar, #kalbar, #lampung, #jateng, #sumut{
	opacity:1;
	fill:$warna3;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.11400165;
	stroke-linejoin:round;
	stroke-opacity:1;
	transition: 0.3s;
	&:hover{
		fill: $warna3;
		stroke: $warna3;
		stroke-width:3;
	}
}

#malut, #sumbar,#sumsel, #kaltim, #banten, #sultenggara, #ntb {
	opacity:1;
	fill:$warna4;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.11400165;
	stroke-linejoin:round;
	stroke-opacity:1;
	transition: 0.3s;
	&:hover{
		fill: $warna4;
		stroke: $warna4;
		stroke-width:3;
	}
}

#kepriau, #dki{
	opacity:1;
	fill:$warna5;
	fill-opacity:1;
	stroke:#ffffff;
	stroke-width:0.11400165;
	stroke-linejoin:round;
	stroke-opacity:1;
	transition: 0.3s;
	&:hover{
		fill: $warna5;
		stroke: $warna5;
		stroke-width:3;
	}
}

